@page "/"

<PageTitle>Proyecto Integrador Agendamiento</PageTitle>

<div class="container">
    <header class="d-flex justify-content-between align-items-center">
        <img class="logo" src="https://images.squarespace-cdn.com/content/v1/59bc3457ccc5c5890fe7cacd/1619204243316-8EME7OPSNDNOICX4Q8GQ/fhir-5808d98a.png?format=500w" alt="Logo">
        <h1 class="title">Proyecto Integrador Agendamiento</h1>
    </header>
    <p>HL7 Colombia</p>
</div>

<br />
<h2>
    Proyecto final del FHIR Camp de HL7 Colombia con el objetivo de implementar algunos casos de uso interactuando con servidores FHIR
</h2>
<br />
<h3>Grupo 3 - Latinoamerica FHIR Team</h3>
<br />
<div class="container">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Argentina</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Esteban Nesci
            <img src="https://flagcdn.com/w40/ar.png" alt="Argentina">
        </li>
        <li class="list-group-item list-group-item-dark">Perú</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Jose Luis Huaman Villar
            <img src="https://flagcdn.com/w40/pe.png" alt="Perú">
        </li>
        <li class="list-group-item list-group-item-dark">Colombia</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Jaime Alberto Ramirez
            <img src="https://flagcdn.com/w40/co.png" alt="Colombia">
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Cristhian Andres Cuenca Trujillo
            <img src="https://flagcdn.com/w40/co.png" alt="Colombia">
        </li>
    </ul>
</div>
