<div>
    <div class="card">
        <div class="card-header form-title">
            @Title
        </div>
    </div>
</div>



@code {

    [Parameter]
    [EditorRequired]
    public string? Title { get; set; }

}

